<style type="text/css">
	body{margin:0px;		
		font-family:Microsoft YaHei;font-size:16px;}

	.nav{width:100%;height:125px;background-color:white;}

	.nav-top{width:100%;height:36px;background-color:#f8f8f8;/**#2c3339**/
		margin:0;}
	.nav-top-content{width:1205px;margin:auto;height:100%}
	.info{float:left;font-family:Microsoft YaHei;height:12px;font-size:12px;font-color:white;margin-top:12px}
	.info-link{margin-left:10px;font-color:green;}
  
    .shutinfo{float: right;position:relative;}
    .shutinfopic{
    	position: absolute;
    	left:-15px;top:-10px;
    	margin-right:5px;margin:top:14px;
    	width:12px;height:12px;
    	background:transparent url(img/icon/icon.png) no-repeat;
    	background-position: -58px -38px;
    }

	.navmain{display:block;width:1205px;height:96px; margin:auto; }

	.logo{float:left;
		font-family:Microsoft YaHei;font-weight:bolder;font-size:30px;color:#39a030;
		vertical-align: middle;
		height:35px;width:70px;margin-top:27px;}
	.logosub{font-size:28px;margin-top: 25px;width:15px;}

	.logotext{float:left;
		font-family:Microsoft YaHei;font-size:28px;color:#333333;
		vertical-align:left;
		height:35px;margin-top:26px;}

	.category{text-align:center;float:right;height:20px;width:700px;margin-top:38px;}

	.category li{float:right;display: inline-block;
		width:117px;margin-right:10px;

		font-family:Microsoft YaHei;font-weight:lighter;font-size:16px;color:#666666;
		vertical-align: middle;}
		.big{width:150px;}

	.query{width:20px;height:20px;
		background:transparent url(img/icon/icon.png) no-repeat;
        background-position: 0px -40px;
        background-color:white;}

	.banner{border:0px;margin:0;left:0px;display:block;width:100%;height:460px;background-color:pink;}

	.banner img{margin:auto;width:1605px;height:460px;}

	.threeproducts{position:relative;
		margin:auto;width:1205px;height:297px;background-color:white}

	.product{display:inline-block;width:396px;height:297px;margin:0px;}

	.product1{background-color:white;}
	.product2{background-color:white;}
	.product3{background-color:white;}

	.producticon{float:left;border:0px;margin-top:0px;margin-left:0;display:inline-block;
		height:297px;width:107px;background-color:white;}

    .productintro{float:left;display:inline-block;height:100%;width:281px;background-color:white;margin-left:0px;}

    .productintrocontent{margin-top: 61px;height:100%px;width:238px;
    	margin-left: 8px;
    	background-color: #f8e8e8;
    	font-family:Microsoft YaHei;;font-weight:lighter;font-size:14px;
    	font-color:white;
    	line-height:30px;
    }

    .productintrocontent h1{line-height: 2.5;}
    .pcmore{color:#39a030;}
	.producticonimg1{
		border:0px;
		margin-top:67px;margin-left:0px;
    	width:80px;height:80px;
        background:transparent url(img/icon/icon.png) no-repeat;
        background-position: 0px -160px;

    }

    .producticonimg2{
    	border:0px;
		margin-top:67px;margin-left:0px;
    	width:80px;height:80px;
        background:transparent url(img/icon/icon.png) no-repeat;
        background-position: 0px -280px;
        background-color:white;
    }

    .producticonimg3{
    	border:0px;
		margin-top:67px;margin-left:0px;
    	width:80px;height:80px;
        background:transparent url(img/icon/icon.png) no-repeat;
        background-position: 0px -400px;
        background-color:white;
    }


	.env{width:100%;height:225px;
		display:-webkit-flex;flex-direction:row;flex-wrap:nowrap;}


	.env img{width:316px;height:225px;display:block;margin-right:1.5px;}

	.content{margin:auto;width:1205px;height: 1551px;background-color:#f8f8f8;}

	.class{float:left;}
	.tabcontainer{
			height:50px;width:100%;left:0px;margin-top:81px;
			margin-bottom:30px;
			background-color:#f8f8f8;}

	.tab{display:inline-block;margin:0;
		box-shadow:gray 3px 3px 10px;
		font-family:Microsoft YaHei;font-size:16px;
		text-align: center;
		vertical-align: middle;
	}

	.tab1{height:50px;width:200px;background-color:#39a030;line-height:50px;color:white;}
	.tab2{height:50px;width:200px;background-color:white;line-height:50px;color:#666666;}

	.card{margin-top:30px;width:960px;height:1218px;background-color:#f8f8f8;
		display:-webkit-flex;
		flex-direction:row;flex-wrap:wrap;justify-content:space-between}

	.cardcontent{box-shadow: #666 0px 0px 5px;align-items:end;
		width:225px;height:227px;background-color:white;margin:0;border-radius: 2px;}

	.cardcontent1{margin-top: 0px;margin-left: 0px;}
	.cardcontent20{margin-right:0px;margin-bottom: 0px}
	li{list-style: none;}
	.cardcontent img{height:124px;width:223px;margin-left:1px;margin-right:1px;}

	.side{float:right;width:223px;height:1028px;background-color:pink;margin-top:81px;}
	.numcontainer{height:30px;width:100%;margin-top:31px;}
	.num{float:right;height:30px;width:302px;
		background-color: #9dd8b1;line-height:30px;}
	.num li{width:26px;display:inline-block;margin:auto;text-align:right}
	.foot{
		display:inline-block;
		width:100%;height:262px;
		background-color: #2c3339;}

	.footcontent{
		margin:auto;
		width:1205px;height:100%;}
	.footerleft{
		font-family:Microsoft YaHei;font-size:12px;font-color:white;
		margin-top:70px;
		float:left;
		width:400px;margin-left:48px;
		line-height:2;
	}
	.connect{float: right;margin-left:70px;}

	.footerright{
		margin-top:82px;
		font-family:Microsoft YaHei;font-size:12px;font-color:white;
		float:right;margin-right:200px;
		line-height:2.2;
	}

	.infologo{display:inline-block;
		font-family:Microsoft YaHei;
		font-weight:bolder;font-size:20px;color:#39a030;}

	.infologoEDU{font-size:25px;font-weight:bolder;margin-top:26px;}
	.infologosub{font-size:22px;margin-top: 15px;width:15px;}
	.infologotext{
		font-family:Microsoft YaHei;font-size:20px;color:#39a030;
		vertical-align:left;
		height:35px;margin-top:20px;
	}
	.infotext p{
		font-family:Microsoft YaHei;font-size:10px;color:white;
		line-height: 1.5;
	}

	.connect{font-family:Microsoft YaHei;font-size:14px;color:white;}

</style>
